header{
    text-align: center;
}
body{
    font-family: 'durik', sans-serif; 
    background: linear-gradient(to top left, rgb(70, 255, 224), rgb(255, 255, 255));
    padding:40px;
}
h1{
    font-size: 36px;
    color: black;
    padding:10px;
}
h2{
    font-size: 32px;
    text-decoration: underline;
    padding: 0px;
}
ul{
    list-style: none;
}
p{
    font-size: 24px;
    padding:10px;
    margin:10px;
}
img{
    border-radius: 10px;
}
footer{
    background: linear-gradient(90deg, rgba(179, 165, 241, 0.816) 0%, rgba(141, 107, 235, 0.9) 26%, rgba(0, 142, 171, 0.9529061624649859) 75%, rgba(0, 118, 142, 1) 100%);
    padding:10px;
    text-align: center;
    border-radius: 10px;
}
.link-list {
    display:flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin: 10px;
}
.fact-list{
    border:solid;
    border-radius: 10px; 
}
.fact-item{
    padding:10px;
    margin:10px;
    
}
.bio-content{
    display:flex;
    flex-direction: column;
    width: 530px;
    height: 680px; 
    margin-left:20px;
    padding:10px;
    border: solid;
    background:linear-gradient(to top left, rgb(70, 255, 224), rgb(255, 255, 255));;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.384);
    box-shadow: 5px 5px rgba(235, 123, 220, 0.5);
}
.bio-box{
    display:flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    padding: 5%;
    margin: 10px;
    background-color: bisque;
    border-radius: 60px;
}
.text{
    margin-left: 10px;
    text-align: left;
}
.smk-img{
    width: 250px;
    height: 150px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.384);
    float: left;
    margin: 10px;
}
.left-bio-img{
    width: 530px;
    height: 700px;
    border: solid;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.384);
    box-shadow: 5px 5px rgba(235, 123, 220, 0.5);
}
.hobby{
    border:solid;
    border-color: rgba(49, 11, 99, 0.384);
    border-radius: 10px;
    width: 480px;
    height: 240px;
    padding: 2%;
    margin: 50px;
}
.music{
    border:solid;
    border-color: rgba(49, 11, 99, 0.384);
    border-radius: 10px;
    width: 480px;
    height: 240px;
    padding: 2%;
    margin: 50px ;
}
.my-info{
    display:flex;
    justify-content: space-around;
}