body{
    font-family: 'durik', sans-serif; 
    background: bisque;
    padding:40px;
}
.header{
    text-align: right;
    color:black;
}
table{
    width: 100%;
    margin: 20px;
    background-color:darksalmon;
    border: solid;
    border-color: black;
    border-collapse: collapse;
}
th{
    padding: 35px;
}
td{
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: white;
}
tr:hover{
    background-color: rgba(119, 209, 242, 0.592)
}
caption{
    padding: 20px;
    text-align: center;
    color:black;
    font-size: large;
}
.tbl-img{
    margin: 15px;
    background-color: white;
    border: solid;
    border-radius: 20px;
    border-color: black;
    width: 150px;
    height: 150px;
}
form{
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: left;
}
fieldset{
    border: none;
}
legend{
    border-radius: 20px;
    background-color: dodgerblue;
    padding: 25px;
    margin: 15px;
    color:black;
    font-size: large; 
}
input, label{
    position: relative;
    left: 70px;
    margin: 10px;
    text-align: left;
    color:black;
    font-size: medium; 
}
label{
    padding: 15px;
}
input{
    padding: 5px;
    color: rgba(132, 132, 132, 0.5);
    border-radius: 10px;
}
#send{
    border-color: rgba(30, 144, 255, 1);
    background-color: rgba(30, 144, 255, 0.5);
    border-radius: 20px;
    color:white;
    width: 205px;
}
#send:hover{
    background-color: rgba(30, 144, 255, 0.5);
}
